[submodule "vim/bundle/haskellmode-vim"]
	path = vim/bundle/haskellmode-vim
	url = git@github.com:lukerandall/haskellmode-vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/slimux"]
	path = vim/bundle/slimux
	url = git://github.com/epeli/slimux
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
